* {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #351f39;

}

.nav-item a {
    color: #f6f6f6 !important;
}

.nav-item a:hover {
    color: #c7ffd8 !important;
    transition: .4s ease-in;
}

.logo {
    font-size: 2.4em;
    margin: 0 20px;
}

.post-container {
    border-radius: 10px;
    margin: 0 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 15px -3px rgba(0,0,0,0.75);
}

.image {
    overflow: hidden;
    padding: 0;
}

/*.comments {*/
/*    position: relative;*/
/*    right: -50px;*/
/*}*/

.post-image {
    width: 100%;
    border-right: 1px solid #ccc;
}

.profile-picture {
    border: 1px solid #000;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.comment {
    width: 85%;
    height: 50px;
    margin-left: 50px;
    border-radius: 10px;
    position: relative;
    padding-left: 45px;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.75);
}

.comment:last-child {
    margin-bottom: 40px;
}

.comment-date {
    position: absolute;
    bottom: 0px;
    right: 5px;
    margin: 0 !important;
}

.profile-picture {
    position: absolute;
    left: -25px;
    top: -10px;
}